*{
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    /* box-sizing est appliqué à tous les éléments */
}

body{
    font-family: 'Raleway', sans-serif; /*ajout polices */
    margin: 0;
}
#bloc_page{
    width: 992px;
    margin: auto;
}
/* Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 50px;
    margin: 30px 0 30px 30px;
}
nav ul{
    display: flex;
    
}
nav li{
    margin:0 10px 0 20px;
    padding-top: 30px;

    
}
nav li:hover 
{
    border-top: solid 2px #0065FC;
    border-style: outset;

}
@media all and (max-width: 992px)
{
    nav li:hover
    {
        border-top: none;
        padding-left: 10px;
        border-left: solid 2px #0065FC;
}
@media all and (max-width: 768px)
{
    nav 
    {
        flex-direction: column;
    }
    nav li:hover
    {
        padding-bottom: 10px;
        border-left: none;
        border-top: none;
        border-bottom: solid  #0065FC;
    }
}