*{
    box-sizing: border-box; 
    /* box-sizing est appliqué à tous les éléments */
}

body{
    font-family: 'Raleway', sans-serif; /*ajout polices */
    margin: 0;
}
/* Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 40px;
    margin: 30px 0 30px 30px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin:0 10px 0 20px;
}
/* Formulaire recherche */
section{
    margin-left: 10px;
    font-size: smaller;
}
#recherche{
    display: flex;
  
}
input[type=submit]{
background-color: #0065FC;
color: white;
padding: 10px;
border-radius: 0 10px 10px 0;
border: none;
}
